#Virtual environments
env/
env2/

#Enviromnt Variable
.env

#Testing for Google Map Plugin
test.html

#Static Files for Local Server (python manage.py collectstatic)
staticfiles_build/static/

#Local Database For testing purposes
db.sqlite3