{% extends 'forecast/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Weather Forecast App{% endblock %}
{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="container mt-5">
                    <form action="" method="post" class="form-inline mb-3 fadeIn">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="input-group">
                                    <label for="latitude"></label>
                                    {{ form.latitude }}
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="input-group">
                                    <label for="longitude"></label>
                                    {{ form.longitude }}
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <label for="detail" class="font-weight-bold text-dark mr-2">Detailing Type:</label>
                                    {{ form.detail }}
                                </div>
                            </div>                                                       
                            <div class="col-12">
                                <button class="btn btn-success w-100" type="submit">Forecast</button>
                            </div>
                        </div>
                        {% if errors %}
                            <div class="alert alert-danger mt-4" role="alert">
                                <strong>{{ errors }}</strong>
                            </div>
                        {% endif %}
                    </form>
                    {% if Weather_Data %}
        <button class="btn btn-primary" id="downloadButton">
            <i class="fas fa-download"></i> Weather Forecast Data (JSON)
          </button>          
{% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-block">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if detail == "current" %}
        <div class="forecast-table">
            <div class="forecast-container1">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div class="day">{{ Weather_Data.dt|unix_to_datetime }}</div>
                        <div class="date">{% now "l" %}</div>
                    </div>
                    <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="location">{{ Weather_Data.name }},{{ Weather_Data.sys.country }}</div>
                        <div class="degree">
                            <div class="num">
                                {{ Weather_Data.main.temp|kev_cel }}<sup>o</sup>C
                            </div>
                            <div class="forecast-icon">
                                <img src="http://openweathermap.org/img/wn/{{ Weather_Data.weather.icon }}@2x.png"
                                     alt=""
                                     width="90">
                            </div>
                        </div>
                        <span>
                            <img style="height: 25px;
                                        width: 25px"
                                 src="{% static 'images/cloud.png' %}"
                                 alt="">
                        {{ Weather_Data.clouds.all }}%</span>
                        <span>
                            <img src="{% static 'images/icon-wind.png' %}" alt="">
                        {{ Weather_Data.wind.speed }}km/h</span>
                        <span>
                            <img src="{% static 'images/icon-compass.png' %}" alt="degree">
                        {{ Weather_Data.wind.deg }}<sup> o</sup></span>
                        <span>
                            <img style="height: 25px;
                                        width: 25px"
                                 src="{% static 'images/hot.png' %}"
                                 alt="status">
                        {{ Weather_Data.weather.0.description|capfirst }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% elif Weather_Data %}
        <div class="forecast-table">
            <div class="forecast-container">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div class="day">{{ Weather_Data.list.0.dt|unix_to_datetime }}</div>
                        <div class="date">{% now "l" %}</div>
                    </div>
                    <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="location">{{ Weather_Data.city.name }},{{ Weather_Data.city.country }}</div>
                        <div class="degree">
                            <div class="num">
                                {{ Weather_Data.list.0.main.temp|kev_cel }}<sup>o</sup>C
                            </div>
                            <div class="forecast-icon">
                                <img src="http://openweathermap.org/img/wn/{{ Weather_Data.list.0.weather.0.icon }}@2x.png"
                                     alt=""
                                     width="90">
                            </div>
                        </div>
                        <span>
                            <img style="height: 25px;
                                        width: 25px"
                                 src="{% static 'images/cloud.png' %}"
                                 alt="">
                        {{ Weather_Data.list.0.clouds.all }}%</span>
                        <span>
                            <img src="{% static 'images/icon-wind.png' %}" alt="">
                        {{ Weather_Data.list.0.wind.speed }}km/h</span>
                        <span>
                            <img src="{% static 'images/icon-compass.png' %}" alt="degree">
                        {{ Weather_Data.list.0.wind.deg }}<sup> o</sup></span>
                        <span>
                            <img style="height: 25px;
                                        width: 25px"
                                 src="{% static 'images/hot.png' %}"
                                 alt="status">
                        {{ Weather_Data.list.0.weather.0.description|capfirst }}</span>
                    </div>
                </div>
                {% for item in Weather_Data.list|slice:"1:7" %}
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">{{ item.dt|unix_to_datetime }}</div>
                        </div>
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="http://openweathermap.org/img/wn/{{ item.weather.0.icon }}@2x.png"
                                     alt=""
                                     width="48">
                            </div>
                            <div class="degree">
                                {{ item.main.temp|kev_cel }}<sup>o</sup>C
                            </div>
                            <span>
                                <img style="height: 25px;
                                            width: 25px"
                                     src="{% static 'images/cloud.png' %}"
                                     alt="">
                            {{ item.clouds.all }}%</span>
                            <br>
                            <span>
                                <img style="height: 25px;
                                            width: 25px"
                                     src="{% static 'images/hot.png' %}"
                                     alt="status">
                            {{ item.weather.0.description|capfirst }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <style>
        .forecast-table {
            padding-top:20px;
            max-width: 1350px; /* Adjust the max-width as needed */
            margin: 0 auto; /* Center the container horizontally */
        }
        
        #map {
            margin-top: 20px;
            height: 400px;
            width: 100%;
        }

        .white-block {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }

        .container-fluid {
            width: 90%;
            margin: 0 auto;
        }

        @media screen and (orientation: landscape) {
            .form-inline.mb-3 .col-md-12 {
                flex-basis: 80%;
            }
        }
    </style>
    <script>
    const Wea_Data = JSON.parse("{{ raw_json|escapejs }}");

    // Function to download the JSON file
    function downloadJSON(filename, text) {
        const element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }

    // Attach click event listener to the download button
    document.getElementById("downloadButton").addEventListener("click", function() {
        downloadJSON("weather_forecast.json", JSON.stringify(Wea_Data, null, 2));
    });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8iXNtZAqryhfTgE5xrUInUzXWBqoSg5Q&callback=initMap"
            async
            defer></script>
    <script src="{% static 'js/google_map.js' %}"></script>
{% endblock %}
